.about-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.85); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
    background-image: url('../assets/images/image7.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

p {
    color: #34495e;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    color: #2980b9;
    margin-left: 20px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
